extends layout
block content
  .row
    .span4
      markdown:
        # This is my markdown
    .span8
      div
        | this is content
        .span4
          | More Things
        .span4
          | here!
